<div class="slimscroll-menu">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu">
            <li><a href="#home" class="waves-effect">
                    <i class="ion-md-speedometer"></i> <span> Trang chủ </span>
                </a></li>

            <!-- <li>
                <a href="javascript: void(0);" class="waves-effect">
                    <i class="ion-md-basket"></i>
                    <span> Người dùng </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">

                    <li><a href="#">Typography</a></li>
                </ul>
            </li> -->
            <li><a href="#user" class="waves-effect">
                    <i class="ion-md-people"></i> <span> Người dùng </span>
                </a></li>
            <li><a href="#category" class="waves-effect">
                    <i class="ion-md-briefcase"></i> <span> Danh mục </span>
                </a></li>
            <li><a href="#color" class="waves-effect">
                    <i class="ion ion-md-color-fill"></i> <span> Màu sắc </span>
                </a></li>
                <li><a href="#brand" class="waves-effect">
                    <i class="ion ion-ios-shirt"></i> <span> Thương hiệu </span>
                </a></li>
            <li><a href="#product" class="waves-effect">
                    <i class="ion-md-cube"></i> <span> Sản phẩm </span>
                </a></li>
            <li><a href="javascript: void(0);" class="waves-effect">
                    <i class="ion-md-paper"></i> <span> Hoá đơn </span>
                </a></li>
            <li><a href="javascript: void(0);" class="waves-effect">
                    <i class="ion-md-heart"></i> <span> Yêu thích </span>
                </a></li>
            <li><a href="javascript: void(0);" class="waves-effect">
                    <i class="ion-md-happy"></i> <span> Đánh giá </span>
                </a></li>
            <li><a href="javascript: void(0);" class="waves-effect">
                    <i class="ion-md-pie"></i> <span> Thống kê </span>
                </a></li>
        </ul>

    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>

</div>